<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/083561fe-c755-4c68-b7ea-bce9fc7b1a2b/resourceGroups/Modecs/providers/Microsoft.Web/sites/modecapi</ResourceId>
    <ResourceGroup>Modecs</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://modecapi-cra8fqbfb7e2hvhv.brazilsouth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>52c6222a-b20d-428f-80e2-bf84d35cf57a</ProjectGuid>
    <PublishUrl>https://modecapi-cra8fqbfb7e2hvhv.scm.brazilsouth-01.azurewebsites.net/</PublishUrl>
    <UserName>$modecapi</UserName>
    <_SavePWD>true</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>